@font-face {
    font-family: Karla;
    src: url(../../public/fonts/Karla-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Karla;
    src: url(../../public/fonts/Karla-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Karla;
    src: url(../../public/fonts/Karla-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Karla;
    src: url(../../public/fonts/Karla-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Karla;
    src: url(../../public/fonts/Karla-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Karla;
    src: url(../../public/fonts/Karla-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Karla;
    src: url(../../public/fonts/Karla-ExtraBold.ttf);
    font-weight: 800;
}
